@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
/*font-family: 'Montserrat', sans-serif;*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.listas{
  list-style: none;
}

footer {
  background-color: rgb(229, 202, 255);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 20px;
  width: 100%;
}

footer form h2 {
  font-size: 2rem;
}

.contactofooter .titulocontacto {
  font-size: 2rem;
}

.contactofooter ul li {
  font-size: 1rem;
}

header {
  width: 100%;
  background-color: rgb(229, 202, 255);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  text-decoration: none;
}

.nav-link:hover {
  transition: all 0.8s;
  color: darkmagenta;
  box-shadow: 0 2px 10px rgba(137, 43, 226, 0.744);
  border-radius: 40px;
}

main {
  margin-top: 20vh;
  width: 100%;
}


.fondo123 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(yellow, rgb(229, 202, 255), yellow, rgb(229, 202, 255));
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 480px) {
  .fondo123 {
    display: flex;
    flex-direction: row;
    background: linear-gradient(#ffff00, rgb(229, 202, 255), yellow, rgb(229, 202, 255));
    padding: 10px;
    margin: 10px;

  }
}

.fondo123 .rayoamarillo {
  width: 400px;
  padding: 40px;
  justify-self: center;
  align-self: center;
}

@media screen and (max-width: 480px) {
  .fondo123 .rayoamarillo {
    width: 100px;
    padding: 10px;
  }
}

.fondo123 .parrafo1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  width: auto;
  height: 100px;
  text-align: center;
  justify-self: center;
  align-self: center;
}

@media screen and (max-width: 480px) {
  .fondo123 .parrafo1 {
    font-size: 1rem;
    width: 50px;
    height: 50px;
  }
}


.logocentella {
  width: 200px;
  height: 200px;
}

.nav-list {
  background-color: rgb(126, 18, 227);
  display: flex;
  gap: 10px;
  padding: 10px;
}

.titulosectionblog {
  margin: 10px;
  padding: 10px;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.imgblog {
  width: 80px;
  height: 80px;
}

.tituloclientes {
  margin: 50px;
}

.seccionservicios {
  margin-top: 50px;
  margin-bottom: 90px;
  display: grid;
  height: 300px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
  padding-left: 50px;

}

@media screen and (max-width: 480px) {
  .seccionservicios {
    display: block;
    height: 100%;
    width: 100px;
    gap: 0em;
  }
}

.servicios-a {
  width: 250px;
  height: 100px;
  margin: 30px;
  font-size: 1rem;
  gap: 20px;
  color: black;
  text-align: center;
  background-color: rgb(229, 202, 255);
  border-radius: 20px;
  font-family: sans-serif;
  border: 2px solid blueviolet;
}

@media screen and (max-width: 480px) {
  .servicios-a {
    font-size: 1rem;
    width: 300px;
    height: 50px;
  }
}

.servicios-a:hover {
  background-color: #d7da23;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.676);
  transition: all 0.5s;
  font-size: 18px;
}

.servicios-a {
  text-decoration: none;
  padding-top: 35px;
  padding-bottom: 35px;
}

.servicios-a a {
  align-items: center;
  justify-content: center;
}

.articuloindex {
  height: 300px;
  margin-top: 10px;
  padding: 20px 50px;
  background-color: blueviolet;
  color: aliceblue;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-family: sans-serif;

}

@media screen and (max-width: 480px) {
  .articuloindex {
    height: 200px;
    margin: 10px;
  }
}

.articuloindex .parrafoindex {
  font-size: 2rem;
}

@media screen and (max-width: 480px) {
  .articuloindex .parrafoindex {
    font-size: 1rem;
  }
}

.seccionporfolio {
  width: 100%;
}

.titulopartener {
  font-family: sans-serif;
  background-color: #d7da23;
  color: aliceblue;
  text-align: center;
  height: 68px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .tituloparteners {
    font-size: 2rem;
    margin: 10px;
  }
}


.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.videoclientes {
  width: 80%;
  padding: 10px;
}

.patrocinados {
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: auto;
  background-color: #380760e0;
  padding-bottom: 30px;
  margin-bottom: 5px;
  border: 2px solid black;
}

.card-parteners a {
  padding-left: 50px;

}

.card-parteners img {
  width: 300px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50%;
}

.card-parteners img:hover {
  scale: 1.2;
  transition: all 0.8s;
  padding-top: 18px;
  padding-bottom: 18px;
}

footer {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.all-column {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff04f;
  width: 330px;
  height: 360px;
  border-radius: 15%;
}

.formulario {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif
}

.formulario>label,
input {
  width: 80%;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.btn-1 {
  width: 80px;
  background-color: black;
  color: white;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 5px;
}

.btn-1:hover {
  background-color: blueviolet;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.677);
}

.seleccion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.column2 {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  background-color: #fff04f;
  width: 330px;
  height: 360px;
  border-radius: 15%;
}

.column2 h4 {
  text-align: center;
  margin-top: 0%;
  padding-top: 0%;

}

.column3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: #fff04f;
  width: 330px;
  height: 360px;
  border-radius: 15%;
}

.redes {
  display: flex;
  flex-direction: column;
}

.redes a {
  margin-top: 20px;
  text-decoration: none;
  color: black;
}

.derechos {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  flex-direction: row;
}

.derechos a {

  text-decoration: none;
  color: rgb(23, 22, 22);

}

/*# sourceMappingURL=styles.css.map */
/*------------------------ CSS CLIENTES--------------------------*/


/*------------------------ CSS SERVICIOS--------------------------*/
.all-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  padding: 30px;
}

.card-img {
  width: 300px;
}

.card {
  width: 300px;
}

.card-text ul {
  list-style: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.card-parrafo {
  font-size: 20px;
  text-align: center;
}

.tituloservicios {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.containertituloservicios {
  margin-top: 30vh;
  color: blueviolet;
}

/*------------------------ CSS TEAM--------------------------*/
.containertituloteam {
  margin-top: 30vh;
  color: blueviolet;
}

.tituloteam {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.imgperfil-team {
  width: 200px;
  border-radius: 100px;
  padding-top: 10px;
}

.card {
  width: 350px;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;

}

.containercard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.descripcion-team{
  font-family: 'Montserrat', sans-serif; ;
}




/*------------------------ CSS BLOG--------------------------*/