* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

footer {
  background-color: blueviolet;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 20px;
}
footer form h2 {
  font-size: 2rem;
}

.contactofooter .titulocontacto {
  font-size: 2rem;
}
.contactofooter ul li {
  font-size: 1rem;
}

header {
  width: 100vw;
  background-color: rgb(229, 202, 255);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bg {
  background-color: rgb(229, 202, 255);
}

.logocentella {
  width: 200px;
  height: 200px;
}

.nav-list {
  background-color: rgb(229, 202, 255);
  display: flex;
  gap: 10px;
  padding: 10px;
}

.titulosectionblog {
  margin: 10px;
  padding: 10px;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.imgblog {
  width: 80px;
  height: 80px;
}

.tituloclientes {
  margin: 50px;
}

.frase {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 500px 200px;
  background: linear-gradient(yellow, rgb(229, 202, 255), yellow, rgb(229, 202, 255));
  padding: 20px;
  margin: 40px;
}
@media screen and (max-width: 480px) {
  .frase {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 80px 100px;
    background: linear-gradient(yellow, rgb(229, 202, 255), yellow, rgb(229, 202, 255));
    padding: 10px;
    margin: 10px;
  }
}
.frase .rayoamarillo {
  width: 380px;
  height: 380px;
  padding: 40px;
  justify-self: center;
  align-self: center;
}
@media screen and (max-width: 480px) {
  .frase .rayoamarillo {
    width: 100px;
    height: 100px;
    padding: 10px;
  }
}
.frase .parrafo1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  width: 100px;
  height: 100px;
  justify-self: center;
  align-self: center;
}
@media screen and (max-width: 480px) {
  .frase .parrafo1 {
    font-size: 1rem;
    width: 50px;
    height: 50px;
  }
}
.frase .parrafo2 {
  grid-column: 1/3;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  justify-self: end;
  align-self: end;
}
@media screen and (max-width: 480px) {
  .frase .parrafo2 {
    font-size: 1rem;
    justify-self: center;
    align-self: center;
  }
}

.seccionservicios {
  height: 800px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
}
@media screen and (max-width: 480px) {
  .seccionservicios {
    display: block;
    height: 100%;
    width: 100px;
    gap: 0em;
  }
}

.servicios {
  width: 500px;
  height: 100px;
  margin: 50px;
  padding: 5px;
  font-size: 2rem;
  gap: 50px;
  color: black;
  text-align: center;
  background-color: rgb(229, 202, 255);
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .servicios {
    font-size: 1rem;
    width: 300px;
    height: 50px;
  }
}
.servicios a {
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.articuloindex {
  height: 300px;
  margin: 20px;
  padding: 20px;
  background-color: blueviolet;
  color: aliceblue;
  display: flex;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .articuloindex {
    height: 200px;
    margin: 10px;
  }
}
.articuloindex .parrafoindex {
  font-size: 2rem;
}
@media screen and (max-width: 480px) {
  .articuloindex .parrafoindex {
    font-size: 1rem;
  }
}

.tituloparteners {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5rem;
  background-color: #d7da23;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 20px;
}
@media screen and (max-width: 480px) {
  .tituloparteners {
    font-size: 2rem;
    margin: 10px;
  }
}

ul li {
  font-size: 30px;
  display: flex;
  align-items: baseline;
}

figure img {
  width: 400px;
}

.titulo-seccionservicios {
  font-size: 2.5rem;
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 480px) {
  .titulo-seccionservicios {
    font-size: 1rem;
    margin: 10px;
  }
}

.containersecservicios {
  padding: 30px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  height: 600px;
}
@media screen and (max-width: 480px) {
  .containersecservicios {
    display: inline;
    height: 1000px;
    width: 100vw;
    padding: 10px 5px;
    margin: 20px 20px;
    padding: 0px;
  }
}

.card {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  background-color: rgb(229, 202, 255);
  font-size: 2rem;
}
@media screen and (max-width: 480px) {
  .card {
    font-size: 1rem;
    width: 100vw;
    height: 100px;
  }
}

.listadocard ul li {
  font-size: 2rem;
}
@media screen and (max-width: 480px) {
  .listadocard ul li {
    font-size: 1rem;
  }
}

.listadocard:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.todo {
  border: 2px solid black;
}

.todo:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.471);
  transition: all 0, 6s;
}

.card a {
  text-decoration: none;
}

.equipo {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.imagendelequipodetrabajo {
  text-align: center;
}
.imagendelequipodetrabajo .todoelequipo {
  width: 600px;
}
.imagendelequipodetrabajo .piedeimagen {
  margin: 20px;
  padding: 20px;
  font-size: 30px;
}

/*# sourceMappingURL=styles.css.map */
