$color-principal:rgb(229, 202, 255);
$color-secundario: blueviolet;
$colo-titulos: #d7da23;

//font-family: 'Fjalla One', sans-serif;//
//font-family: 'Montserrat', sans-serif;//
//font-family: 'Roboto Slab', serif;//

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

ul
li {
    list-style: none;
}

