* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}


//header//

.imagendeportada {
    width: 100vw;
    height: 100vw;
}

//index main seccion frase//

.frase{
    background-color: #e1b4ff;
    padding: 20px;
    .rayoamarillo {
        width: 100px;
        height: 100px;

    }
    & h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 70px;
        color: rgb(0, 0, 0);
        margin-left: 700px;
        margin-top: 1px;
    }
    & .parrafo{
        font-size: 30px;
        margin-left: 700px;
        margin-top: 1px;
    }
}

//index main seccion servicios//
.seccionservicios{
    height: 800px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    .servicios{
        width: 500px;
        height: 100px;
        margin: 50px;
        padding: 5px;
        font-size: 2rem;
        gap: 50px;
        color: black;
        text-align: center;
        background-color: #fff04f;
    }
}

//index main seccion article//
.articuloindex{
    width: 500px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #e1b4ff;
    display: flex;
    align-items: center;
    .parrafoindex {
        font-size: 2rem;
    }
}
//index main seccion parteners videos//
.titulo-clientes{
    font-size: 2rem;
    margin: 20px;
    display: flex;
    align-items: center;
}  

figure{
    .videoclientes {
        height: 100vw;
        width: 100vw;
    }
}
//index main seccion parteners//
.tituloparteners{
    font-size: 3rem;
    margin: 20px;
    display: flex;
    align-items: center;
}

ul{
    li{
        font-size: 30px;
        display: flex;
        align-items: baseline;
    }
}

figure{
    img{
        width: 400px;
    }
}

//footer//
footer{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 20px;

    form{
        h2{
            font-size: 2rem;
        }
    }
}

.contactofooter{
    .titulocontacto{
        font-size: 2rem;
    }
    & ul{
        li{
            font-size: 1rem
        }
    }
}


//Servicios//
.sectionservicios{
    .tituloseccionservicios{
        font-size: 3rem;
        margin: 20px;
        padding: 10px;
    }
    
    & .parrafoservicios{
        font-size: 2rem;
        margin: 20px;
        padding: 10px;
    }
}

.listadoservicios{
    height: 250px;
    display: flex;
    .titulodelservicio{
        height: 60px;
        display: inline;
        align-items: center;
        font-size: 2rem;
        background-color:#fff04f;
        margin: 20px;
        padding: 10px;
    }
    }
    .detalleservicios{
        display: flex;
        font-size: 2rem;
        margin-left: 20px;
    }

    //Team//

.equipo{ 
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.imagendelequipodetrabajo {
    text-align: center;
    & .todoelequipo{
        width: 600px;
    }
& .piedeimagen{
    margin: 20px;
    padding: 20px;
    font-size: 30px;
}
}

//Blog//


