main {
  margin-top: 20vh;
  width: 100%;
}

.fondo123 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(yellow, rgb(229, 202, 255), yellow, rgb(229, 202, 255));
  width: 100%;
  height: 500px;

  & .rayoamarillo {
    width: 400px;
    padding: 40px;
    justify-self: center;
    align-self: center;
  }


  & .parrafo1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    width: auto;
    height: 100px;
    text-align: center;
    justify-self: center;
    align-self: center;
  }

}

@media screen and (max-width:480px) {
  .fondo123 {
    width: 100vw;
    height: 200px;
  }

  .fondo123 .rayoamarillo {
    width: 100px;
    padding: 10px;
  }

  .logocentella {
    width: 100px;
    height: 100px;
  }

}

.logocentella {
  width: 200px;
  height: 200px;
}



.nav-list {
  background-color: rgb(126, 18, 227);
  display: flex;
  gap: 10px;
  padding: 10px;
}


.articuloindex {
  height: 300px;
  margin-top: 10px;
  padding: 20px 50px;
  background-color: blueviolet;
  color: aliceblue;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-family: sans-serif;

  & .parrafoindex {
    font-size: 2rem;
  }

}


@media screen and (max-width:480px) {
  .articuloindex {
    width: 100vw;
    height: 150px;
    padding: 20px;
  }

  .articuloindex .parrafoindex {
    font-size: .5rem;
  }
}



.seccionservicios {
  margin-top: 50px;
  margin-bottom: 90px;
  display: grid;
  height: 300px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
  padding-left: 50px;

  & .servicios-a {

    width: 250px;
    height: 100px;
    margin: 30px;
    font-size: 1rem;
    gap: 20px;
    color: black;
    text-align: center;
    background-color: rgb(229, 202, 255);
    border-radius: 20px;
    font-family: sans-serif;
    border: 2px solid blueviolet;
    text-decoration: none;
    padding-top: 35px;
    padding-bottom: 35px;

    & a {
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width:480px) {
  .seccionservicios {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 20px;
    gap: 20px;
    padding: 0px;
    height: 1200px;
  }

  .seccionservicios .servicios-a {

    width: 120px;
    height: 50px;
    font-size: .5rem;
  }
}

.servicios-a:hover {
  background-color: #d7da23;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.676);
  transition: all 0.5s;
  font-size: 18px;
}




.seccionporfolio {
  width: 100%;
}

.titulopartener {
  font-family: sans-serif;
  background-color: #d7da23;
  color: aliceblue;
  text-align: center;
  height: 68px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width:480px) {
  .titulopartener {
    font-size: 1.5rem;
    padding: 10px;
  }
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .videoclientes {
    width: 80%;
    padding: 10px;
  }
}

.patrocinados {
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: auto;
  background-color: #380760e0;
  padding-bottom: 30px;
  margin-bottom: 5px;
  border: 2px solid black;
}

.card-parteners {
  & a {
    padding-left: 50px;
  }

  & img {
    width: 300px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
  }
}

@media screen and (max-width:480px) {
  .patrocinados {
    display: block;
  }

  .patrocinados img {
    width: 200px;
  }
}


.card-parteners img:hover {
  scale: 1.2;
  transition: all 0.8s;
  padding-top: 18px;
  padding-bottom: 18px;
}