   //Team//

   .equipo{ 
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.imagendelequipodetrabajo {
    text-align: center;
    & .todoelequipo{
        width: 600px;
    }
& .piedeimagen{
    margin: 20px;
    padding: 20px;
    font-size: 30px;
}
}
