//Servicios//
.titulo-seccionservicios {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

.containersecservicios {
    width: 400px;
    height: 350px;
    background-color: $color-principal;
    margin: 20px;

    & .card {
        display: grid;
        margin: 10px;
        flex-direction: row;
        width: 200px;
        height: 100px;
        justify-content: center;
        align-content: center;
        background-color: $color-principal;

        & h3 {
            font-size: 2rem;
        }
    }
}

