.containertituloteam {
    margin-top: 30vh;
    color: blueviolet;

    & .tituloteam {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
}

.imgperfil-team {
    width: 200px;
    border-radius: 100px;
    padding-top: 10px;
}
@media screen and (max-width:480px){
    .imgperfil-team {
        width: 100px;
        padding-top: 5px;
    }
}

.containercard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

    & .card {
        width: 350px;
        text-align: center;
        margin-left: 10px;
        margin-bottom: 10px;

    }
}


@media screen and (max-width:480px) {
    .containercard{
        display: block;
    }

    .containercard .card{
        width: 300px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
.descripcion-team {
    font-family: 'Montserrat', sans-serif;
}

.containerimgequipo {
    background-color: $color-terciario;
    width: 500px;
    display: flex;
    align-items: center;
    margin-left: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 50px;

}

.imagendelequipodetrabajo {
    display: flex;
    align-items: center;
    flex-direction: column;

    & .todoelequipo {
        width: 400px;
        height: 400px;
        padding-top: 10px;
    }

    & .piedeimagen {
        color: white;
        font-size: 1.5rem;
        padding: 10px;
    }
}

@media screen and (max-width:480px) {
    .containerimgequipo{
        background-color:rgb(255, 255, 255);
        display: flex;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        border-radius: 50px;
        width: 300px;
    }
    .imagendelequipodetrabajo .todoelequipo {
        width: 100vw;
        height: 300px;
    }
    .imagendelequipodetrabajo .piedeimagen {
        color: rgb(0, 0, 0);
        font-size: 1rem;
        padding: 10px;
    }
}