//footer//
footer{
    background-color: $color-secundario;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 20px;

    form{
        h2{
            font-size: 2rem;
        }
    }
}

.contactofooter{
    .titulocontacto{
        font-size: 2rem;
    }
    & ul{
        li{
            font-size: 1rem
        }
    }
}
