header {
    width: 100vw;
    background-color: $color-principal;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.bg{
    background-color:$color-principal;
}
.logocentella {
    width: 200px;
    height: 200px;

}